/* Header */
.header {
  background-image: url(images/header.svg);
  background-position: left;
  background-size: cover;
  height: 10%;
  width: 30%;
}

#greeting-container {
  margin-top: 20px;
}

/* Top Navigation */
.topnav {
  background-color: #242e42;
  overflow: hidden;
}

.topnav a {
  background-color: #242e42;
  color:#f2f2f2;
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #70b180;
  color: #131d39;
}

.topnav a:visited {
  color: #f2f2f2;
}

.hero-image {
  background-image: url(images/logo.svg);
  background-position: center;
  background-size: cover;
  color: #ec6d2d;
  height: 76%;
  position: relative;
}

#newline {
  color: #ec6d2d;
  font-size: 25px;
  font-weight: bold;
}

#blinking-cursor {
  color: #ec6d2d;
  font-size: 25px;
  font-weight: bold;
}

/* Body */
body {
  background-color: #0c1d3b;
  color: #f2f2f2;
  font-family: 'Courier New', 'Courier', 'monospace';
}

body, html {
  height: 100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

a:link {
  color: #70b180;
}

a:visited { 
  color: #ec6d2d;
}

.column {
  float: left;
  width: 50%;
}

.image-thumbnails img {
  margin: 25px;
  max-height: 300px;
  max-width: 300px;
}

.button {
  background-color: #ec6d2d;
  border: none;
  color: #f2f2f2;
  display: inline-block;
  font-weight: bold;
  padding: 5px 20px;
  text-decoration: none;
}

.button:hover {
  background-color: #ca5e28;
}

.container {
  margin: 20px;
}

.contact-intro {
  text-align: center;
}

.contact-card {
  background-color: #242e42;
  margin: auto;
  max-width: 350px;
  text-align: center;
}

.contact-card:hover {
  box-shadow: 5px 5px #09172e;
}

/* Footer */
.footer {
  padding: 100px;
}
