body {
  background-color: #131d39;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  color: #f2f2f2;
  font-family: 'Courier New', 'Courier', 'monospace';
}

#greeting-container {
  margin-top: 20px;
}

.header {
  color: #f2f2f2;
  font-family: 'Courier New', 'Courier', 'monospace';
}

.topnav {
  overflow: hidden;
  background-color: #242e42;
  font-family: 'Courier New', 'Courier', 'monospace';
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  background-color: #242e42;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #70b180;
  color: #131d39;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 350px;
  max-width: 350px;
}