/* Header */
.header {
  background-image: url(images/header.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 40%;
  height: 40px;
  margin-bottom: 5px;
}

#greeting-container {
  margin-top: 20px;
}

/* Top Navigation */
.topnav {
  background-color: #242e42;
  overflow: hidden;
}

.topnav a {
  background-color: #242e42;
  color:#f2f2f2;
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #70b180;
  color: #131d39;
}

.topnav a:link {
  color:#f2f2f2;
}

.topnav a:visited {
  color: #f2f2f2;
}

.hero-image {
  background-image: url(images/logo.svg);
  background-position: center;
  background-size: cover;
  color: #ec6d2d;
  height: 76%;
  position: relative;
}

#newline {
  color: #ec6d2d;
  font-size: 25px;
  font-weight: bold;
}

#blinking-cursor {
  color: #ec6d2d;
  font-size: 25px;
  font-weight: bold;
}

/* Body */
body {
  background-color: #0c1d3b;
  color: #f2f2f2;
  font-family: 'Courier New', 'Courier', 'monospace';
}

body, html {
  height: 100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

a:link {
  color: #70b180;
}

a:visited { 
  color: #ec6d2d;
}

.column {
  float: left;
  width: 50%;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-thumbnails img {
  margin: 25px;
  max-height: 300px;
  max-width: 300px;
}

.button {
  background-color: #ec6d2d;
  border: none;
  color: #f2f2f2;
  display: inline-block;
  font-weight: bold;
  padding: 5px 20px;
  text-decoration: none;
}

.button:hover {
  background-color: #ca5e28;
}

.container {
  margin: 20px;
}

.submit-container {
  padding-top: 150px;
  padding-bottom: 100px;
}

.name-field {
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 15px;
}

.text-field{
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  padding: 30px 10px;
  width: 100%;
}

select {
  background-color: #ffffff;
  border: none;
  padding: 5px 20px;
}

.select-container {
  float: right;
}

.comments-container {
  background-color: #242e42;
  border:50px ;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 200px;
  padding: 50px
}

.comment-list {
  background-image: url(images/icon.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120px;
  list-style: none;
  margin-bottom: 20px;
	padding: 20px 50px 20px 120px;
}

.button-container {
  text-align: center;
}

.button-delete{
  background-color: #242e42;
  border: none;
  color: #f2f2f2;
  display: inline-block;
  font-weight: bold;
  padding: 5px 20px;
  text-decoration: none;

}

.button-delete:hover {
  background-color: #1a2231;
}

.chart-container {
  text-align: center;
}

.vote-container {
  margin-top: 20px;
  text-align: left;
}

.contact-intro {
  text-align: center;
}

.contact-card {
  background-color: #242e42;
  margin: auto;
  max-width: 350px;
  text-align: center;
}

.contact-card:hover {
  box-shadow: 5px 5px #09172e;
}

/* Footer */
.footer {
  padding: 100px;
  text-align: center;
}
